= semantic_form_for [host, foreman_config] do |f|
  = f.inputs do
    = f.input :name
    = f.input :value

  = f.buttons do
    = f.commit_button t('config.buttons.new.commit')

%p= link_to t('envkey.link.back'), host_path(host)